header{
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    flex-wrap: wrap;
    background-color: $terciary;
    
    .headerImgContainer{
        width: 45%;

        img{
            max-width: 100%;
        }
    }

    .headerContent{
        width: 55%;

        .contentContainer{
            width: 65%;
            margin: 0 auto;
        }
        
    }
}

// contactHeader and contactContent //

.contactHeader{
    background-color: $quaternary;
    padding-top: 120px;

    .contactContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
}

.contactHeader::after{
    content: "";
    width: 100%;
    height: 150px;
    background-image: url(../assets/wave.svg);
    background-color: $quaternary;
    background-repeat: no-repeat;
    background-size: 100% 150px;
}