.gallery{
    background-color: $terciary;
    padding: 90px 0;
    margin: 0;

    h2{
        max-width: 500px;
    }
}

.galleryItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item{
        width: 15%;

        img{
            max-width: 100%;
            display: block;
        }
    }
}