html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* import Jakarta Sans font */
@font-face {
  font-family: "Jakarta San";
  src: url("../fonts/PlusJakarts_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff"), url("../fonts/PlusJakarts_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2"), url("../fonts/PlusJakarts_Sans-2.5/static/PlusJakartaSans-Regular.ttf");
  font-weight: normal;
}
/* import Jakarta Sans font in bold */
@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff"), url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2"), url("../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf");
  font-weight: bold;
}
/* import Young Serif font */
@font-face {
  font-family: "Young Serif";
  src: url("../fonts/youngserif/YoungSerif-Regular.otf");
}
hmtl {
  font-size: 125%;
}

body {
  font-family: "Jakarta Sans", sans-sanrif;
  font-size: 1rem;
  color: #084b6d;
}

h1, h2, h3, h4, blockquote {
  font-family: "Young Serif";
  font-weight: normal;
  color: #084b6d;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 24px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
p.smallCopy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}
p.popularProduct {
  font-weight: bold;
  margin-bottom: 10px;
}
p.price {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: rgba(8, 75, 109, 0.75);
  display: inline;
  padding: 0 5px;
  margin: 0;
}
p.discountedPrice {
  font-size: 0.8rem;
  color: rgba(8, 75, 109, 0.4);
  text-decoration: line-through;
  display: inline;
  padding: 0 5px;
  margin: 0;
}
p.newsletterCopy {
  font-size: 0.8rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

/* _baseStyles.scss */
button {
  color: #084b6d;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* style the button in the main nav menu to look just like an icon */
}
button:hover {
  background-color: #084b6d;
  color: #fff;
}
button:focus {
  background-color: #084b6d;
  color: #fff;
}
button.secondary {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  padding: 8px 12px;
}
button.secondary:hover {
  background-color: #fff;
  color: #084b6d;
}
button.secondary:focus {
  background-color: #fff;
  color: #084b6d;
}
button.solid {
  color: #fff;
  background-color: #084b6d;
}
button.solid:hover {
  color: #084b6d;
  background-color: #fff;
}
button.menuIcon {
  display: inherit;
  padding: 0;
  border: none;
}
button.menuIcon:hover {
  background-color: transparent;
}
button.menuIcon:focus {
  background-color: transparent;
}

.announcements {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(8, 75, 109, 0.4);
}

.navBar {
  position: sticky;
  top: 0px;
  z-index: 10;
  border-bottom: 1px solid rgba(8, 75, 109, 0.8);
  background-color: #fff;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.navBar .searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .searchCart .searchIcon,
.navBar .searchCart .bagIcon {
  margin-right: 15px;
}
.navBar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar .logo {
  margin-left: 60px;
}
.navBar .counter p {
  width: 24px;
  height: 24px;
  background-color: #084b6d;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.navBar #openSidebarMenu {
  opacity: 0;
  position: absolute;
}
.navBar input[type=checkbox]:checked ~ .slideOutNav {
  left: 0;
}
.navBar input[type=checkbox]:checked ~ .slideOutNav:focus + label {
  border: 1px dotted #084b6d;
}
.navBar label {
  cursor: pointer;
}
.navBar .slideOutNav {
  padding: 35px 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 1px solid #f4fcff;
  background-color: #084b6d;
  color: #fff;
  position: fixed;
  top: 0;
  left: -506px;
  z-index: 20;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navBar .slideOutNav .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navBar .slideOutNav .buttonContainer button {
  color: #fff;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: "Jakarta Sans";
  padding: 10px 0 10px 20px;
}
.navBar .slideOutNav hr {
  width: 24px;
  height: 2px;
  margin: 36px 0;
  background-color: #fff;
}
.navBar .slideOutNav .mainMenu {
  font-family: "Young Serif";
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.navBar .slideOutNav .mainMenu a:hover, .navBar .slideOutNav .mainMenu a:focus {
  color: rgba(255, 255, 255, 0.5);
}
.navBar .slideOutNav .legal {
  font-family: "Jakarta Sans";
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.navBar .slideOutNav .legal a {
  color: rgba(255, 255, 255, 0.5);
}
.navBar .slideOutNav .legal a:hover, .navBar .slideOutNav .legal a:focus {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f8fbf3;
}
header .headerImgContainer {
  width: 45%;
}
header .headerImgContainer img {
  max-width: 100%;
}
header .headerContent {
  width: 55%;
}
header .headerContent .contentContainer {
  width: 65%;
  margin: 0 auto;
}

.contactHeader {
  background-color: #fff5f5;
  padding-top: 120px;
}
.contactHeader .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.contactHeader::after {
  content: "";
  width: 100%;
  height: 150px;
  background-image: url(../assets/wave.svg);
  background-color: #fff5f5;
  background-repeat: no-repeat;
  background-size: 100% 150px;
}

.gallery {
  background-color: #f8fbf3;
  padding: 90px 0;
  margin: 0;
}
.gallery h2 {
  max-width: 500px;
}

.galleryItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryItems .item {
  width: 15%;
}
.galleryItems .item img {
  max-width: 100%;
  display: block;
}

footer {
  background-color: #084b6d;
  color: #fff;
  padding: 90px 0 50px 0;
}
footer .footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
footer .footerFlexContainer h4 {
  color: #fff;
}
footer .newsletter {
  width: calc(40% - 50px);
  margin-right: 50px;
}
footer .newsletter form {
  position: relative;
}
footer .newsletter input {
  background-color: transparent;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
  line-height: 3rem;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 100%;
}
footer .newsletter input:focus {
  border: 2px solid #fff;
}
footer .newsletter .secondary {
  position: absolute;
  right: 5px;
  top: 10%;
}
footer .footerNav {
  width: 40%;
}
footer .footerNav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerNav nav ul {
  width: 33.3333333333%;
}
footer .footerNav a {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
footer .footerNav a:hover, footer .footerNav a:focus {
  color: #fff;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social a {
  font-size: 1.2rem;
  margin: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .social a:hover, footer .social a:focus {
  color: blue;
}

.mapFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mapFormContainer .map {
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mapFormContainer .map .iframe {
  width: 100%;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 70px);
  margin-left: 70px;
}

input, textarea {
  padding: 0 0 10px 5px;
  border: none;
  margin-bottom: 40px;
  color: #333;
  font-family: "Jakarta Sans";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  line-height: 1.2rem;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  line-height: 1.2rem;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  line-height: 1.2rem;
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  line-height: 1.2rem;
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  line-height: 1.2rem;
  opacity: 1;
}

input {
  border-bottom: 1px solid #eee;
}

textarea {
  min-height: 130px;
  border: 1px solid #eee;
  border-top: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Jakarta Sans";
  color: #084b6d;
  padding: 0 0 10px 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

option {
  font-family: "Jakarta Sans";
}

@media (max-width: 1000px) {
  footer .footerFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  footer .newsletter {
    width: 50%;
    margin: 0 0 30px 0;
  }
  footer .footerNav {
    width: 80%;
  }
  footer .footerNav nav ul {
    width: auto;
  }
}
@media (max-width: 800px) {
  footer .newsletter {
    width: 70%;
  }

  .mapFormContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mapFormContainer .map {
    width: 85%;
    margin-bottom: 50px;
  }

  .contactForm {
    width: 85%;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .announcements {
    display: none;
  }

  .slideOutNav .mainMenu a {
    font-size: 1.2rem;
    font-weight: bold;
  }

  footer .footerFlexContainer {
    margin-bottom: 60px;
  }
  footer .footerNav nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .footerNav ul {
    margin-bottom: 24px;
  }
  footer .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .socialIcons {
    margin-bottom: 30px;
  }
}